# Phase 1

In [1]:
# Import the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import  warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_excel(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\Capstone-phase1data.xls')

In [3]:
df

,State/UT,Year,population(total),Area (km2),Literacy rate,total literate population,Attempt to murder,Murder,Rape,Kidnapping and abduction,...,Cruelty by husband or his relatives,Importation of girls from other countries,Other IPC crimes,Total IPC crimes,Total Crimes,tot_crimes_sc,total crime against women,Total crime against children,Total crimes against STs,Crime Rate
0,A& N ISLANDS,2001,356650,8249,81.30,253135.0,0,13,3,2,...,9,0,323,658,1386,0,34.0,0.0,1.0,187.757760
1,ANDHRA PRADESH,2001,75728401,275045,60.47,39934323.0,1555,2602,871,1182,...,5791,7,34344,130089,278982,2933,13669.0,270.0,512.0,173.698055
2,ARUNACHAL PRADESH,2001,1098328,83743,54.34,484785.0,53,83,33,83,...,11,0,618,2342,5243,0,180.0,0.0,72.0,217.834500
3,ASSAM,2001,26638600,78438,63.25,14015354.0,481,1356,817,1480,...,1248,0,9315,36877,81418,6,4048.0,18.0,0.0,140.759800
4,BIHAR,2001,82879911,94163,47.00,31109577.0,3419,3643,888,2159,...,1558,83,36667,88432,189612,1303,4489.0,83.0,83.0,103.458500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,TAMIL NADU,2012,73141715,130058,80.88,53274562.0,2954,1949,737,1945,...,1965,0,124176,200474,415626,1647,6381.0,1036.0,27.0,274.058370
416,TRIPURA,2012,3718947,10486,80.89,2897340.0,79,124,229,139,...,858,0,1742,6264,13461,76,1559.0,20.0,29.0,167.395800
417,UTTAR PRADESH,2012,202934265,240928,67.98,118889202.0,4811,4966,1963,8878,...,7661,0,68538,198093,444403,6202,23033.0,6033.0,44.0,96.323400
418,UTTARAKHAND,2012,10279517,53483,79.22,7100774.0,161,217,148,297,...,368,0,2118,8882,20122,33,1055.0,122.0,3.0,89.653300
419,WEST BENGAL,2012,92460379,88752,76.88,63274096.0,2854,2252,2046,5117,...,19865,12,64482,161427,353008,85,30585.0,1706.0,91.0,176.683700

Data for the population,area of each state and literacy rate of each state have been collected from the different websites manually. The data was available for the year #2001 and #2011 for population, area and literacy rate of each state. So, necassary calculations and assumptions were made in order to achive the data for the year #2002 to #2010 & year #2012. Several websites were used in order to fetch the data for the same. Some of them are:-
- https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population
- https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area
- https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate
- https://socialjustice.gov.in/common/76669
- http://cyberjournalist.org.in/census/cenindia.html
- https://www.indiastat.com/specimen-tables/geographical-data
- https://www.wbhealth.gov.in/other_files/2007/14_5.html
- https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 31 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   State/UT                                     420 non-null    object
 1   Year                                         420 non-null    int64
 2   population(total)                            420 non-null    int64
 3   Area (km2)                                   420 non-null    int64
 4   Literacy rate                                420 non-null    float64
 5   total literate population                    420 non-null    float64
 6   Attempt to murder                            420 non-null    int64
 7   Murder                                       420 non-null    int64
 8   Rape                                         420 non-null    int64
 9   Kidnapping and abduction                     420 non-null    int64
 10  Kidnapping and abduction of women and girls  420 non-null    int64
 11  Kidnapping and abduction of others           420 non-null    int64
 12  Dacoity                                      420 non-null    int64
 13  Robbery                                      420 non-null    int64
 14  Theft                                        420 non-null    int64
 15  Riots                                        420 non-null    int64
 16  Criminal breach of trust                     420 non-null    int64
 17  Cheating                                     420 non-null    int64
 18  Counterfieting                               420 non-null    int64
 19  Dowry deaths                                 420 non-null    int64
 20  Hurt/Grevious hurt                           420 non-null    int64
 21  Cruelty by husband or his relatives          420 non-null    int64
 22  Importation of girls from other countries    420 non-null    int64
 23  Other IPC crimes                             420 non-null    int64
 24  Total IPC crimes                             420 non-null    int64
 25  Total Crimes                                 420 non-null    int64
 26  tot_crimes_sc                                420 non-null    int64
 27  total crime against women                    411 non-null    float64
 28  Total crime against children                 418 non-null    float64
 29  Total crimes against STs                     387 non-null    float64
 30  Crime Rate                                   420 non-null    float64
dtypes: float64(6), int64(24), object(1)
memory usage: 101.8+ KB

# Now we will look the data that is provided to us by Datatrained.

In [5]:
a=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\01_District_wise_crimes_committed_IPC_2001_2012.csv')

In [6]:
a.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [7]:
a=a.drop(columns=['DISTRICT'])

In [8]:
a.duplicated().sum()

42

In [9]:
a.drop_duplicates(inplace=True)

In [10]:
fa = a.groupby('STATE/UT').sum()
fa.head()

,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
STATE/UT,,,,,,,,,,,,,,,,,,,,,
A & N ISLANDS,70232,305,111,41,215,0,215,176,145,31,...,185,2111,11,407,84,224,0,80,8549,17397
ANDHRA PRADESH,742469,63512,44840,3526,26958,4,26954,42478,29872,12606,...,23936,1093130,12430,103998,72262,238014,34,276870,964504,4037962
ARUNACHAL PRADESH,391317,1682,834,72,1000,0,1000,1714,1116,598,...,500,10314,4,1568,36,334,0,1490,14792,55304
ASSAM,726412,30864,11324,1436,32356,10,32346,55878,45840,10038,...,15836,138366,2552,27240,224,78776,16,60410,362708,1195528
BIHAR,1083510,82490,81838,7344,26248,4,26244,74440,38778,35662,...,17018,378532,27096,15152,452,51360,880,88884,1077182,2692586

In [11]:
fa=fa.drop(columns=['YEAR'])
fa.head()

,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,DACOITY,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
STATE/UT,,,,,,,,,,,,,,,,,,,,,
A & N ISLANDS,305,111,41,215,0,215,176,145,31,25,...,185,2111,11,407,84,224,0,80,8549,17397
ANDHRA PRADESH,63512,44840,3526,26958,4,26954,42478,29872,12606,3974,...,23936,1093130,12430,103998,72262,238014,34,276870,964504,4037962
ARUNACHAL PRADESH,1682,834,72,1000,0,1000,1714,1116,598,520,...,500,10314,4,1568,36,334,0,1490,14792,55304
ASSAM,30864,11324,1436,32356,10,32346,55878,45840,10038,8340,...,15836,138366,2552,27240,224,78776,16,60410,362708,1195528
BIHAR,82490,81838,7344,26248,4,26244,74440,38778,35662,22198,...,17018,378532,27096,15152,452,51360,880,88884,1077182,2692586

# we will do the same for all the files given to us by Datatrained.

In [12]:
b=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\02_01_District_wise_crimes_committed_against_SC_2001_2012.csv')
c=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\02_District_wise_crimes_committed_against_ST_2001_2012.csv')
d=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\03_District_wise_crimes_committed_against_children_2001_2012.csv')
e=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\08_01_Juvenile_apprehended_state_IPC_2001_2010.csv')
f=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\11_Property_stolen_and_recovered_nature_of_property_2001_2010.csv')
g=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\13_Police_killed_or_injured_on_duty2001_2010.csv')
h=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.csv')
i=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\17_Crime_by_place_of_occurrence_2001_2012.csv')
j=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\35_Human_rights_violation_by_police_2001_2010.csv')
k=pd.read_csv(r'C:\Users\arunk\OneDrive\Documents\Phase 1\data\42_District_wise_crimes_committed_against_women_2001_2012.csv')

In [13]:
b.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7

In [14]:
b=b.drop(columns=['DISTRICT'])
b.drop_duplicates(inplace=True)
fb = b.groupby('STATE/UT').sum()
fb=fb.drop(columns=['Year'])
fb.head()

,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
STATE/UT,,,,,,,,,,
A & N ISLANDS,0,0,0,0,0,0,0,0,0,0
ANDHRA PRADESH,1112,2220,476,18,78,272,14496,30319,3022,34824
ARUNACHAL PRADESH,1,0,0,0,1,0,0,0,0,0
ASSAM,114,114,192,28,66,50,682,6,2,631
BIHAR,572,568,254,58,154,618,9033,46623,931,7628

In [15]:
c.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14

In [16]:
c=c.drop(columns=['DISTRICT'])
c.drop_duplicates(inplace=True)
fc = c.groupby('STATE/UT').sum()
fc=fc.drop(columns=['Year'])
fc.head()

,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
STATE/UT,,,,,,,,,,
A & N ISLANDS,1,2,1,0,0,0,1,0,7,46
ANDHRA PRADESH,198,904,96,0,6,38,2566,238,5050,7088
ARUNACHAL PRADESH,22,58,102,2,12,8,393,0,0,566
ASSAM,146,118,146,34,92,42,382,2,3,480
BIHAR,32,62,8,0,8,16,238,46,954,266

In [17]:
d.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [18]:
d=d.drop(columns=['DISTRICT'])
d.drop_duplicates(inplace=True)
fd = d.groupby('STATE/UT').sum()
fd=fd.drop(columns=['Year'])
fd.head()

,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
STATE/UT,,,,,,,,,,,,
A & N ISLANDS,11.0,92.0,78.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,96.0,287
ANDHRA PRADESH,1771.0,9180.0,11026.0,46.0,214.0,1190.0,1082.0,34.0,64.0,260.0,8290.0,33157
ARUNACHAL PRADESH,0.0,205.0,238.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,457
ASSAM,134.0,930.0,424.0,4.0,20.0,0.0,730.0,0.0,14.0,10.0,1159.0,3425
BIHAR,1703.0,1310.0,15089.0,18.0,0.0,10.0,1124.0,8.0,28.0,102.0,262.0,19654

In [19]:
e.head()

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0

In [20]:
e.drop_duplicates(inplace=True)
fe = e.groupby('STATE/UT').sum()
fe=fe.drop(columns=['Year'])
fe.head()

,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
STATE/UT,,,,,,,,,
A&N Islands,10,0,132,22,297,56,439,78,517
Andhra Pradesh,1771,57,13683,455,21022,1381,36476,1893,38369
Arunachal Pradesh,136,2,1271,2,1248,14,2655,18,2673
Assam,1286,116,5221,510,4664,535,11171,1161,12332
Bihar,133,7,3356,96,10457,427,13946,530,14476

In [21]:
f.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000
1,Andhra Pradesh,2001,Cattle - Property,2. Cattle,448,580,6490596,7233876
2,Arunachal Pradesh,2001,Cattle - Property,2. Cattle,22,34,135500,704500
3,Assam,2001,Cattle - Property,2. Cattle,149,322,683350,1816386
4,Bihar,2001,Cattle - Property,2. Cattle,144,334,896019,1911068

In [22]:
f.rename(columns={"Area_Name": "STATE/UT"}, inplace=True)

In [23]:
f.head()

,STATE/UT,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000
1,Andhra Pradesh,2001,Cattle - Property,2. Cattle,448,580,6490596,7233876
2,Arunachal Pradesh,2001,Cattle - Property,2. Cattle,22,34,135500,704500
3,Assam,2001,Cattle - Property,2. Cattle,149,322,683350,1816386
4,Bihar,2001,Cattle - Property,2. Cattle,144,334,896019,1911068

In [24]:
f.drop_duplicates(inplace=True)
ff = f.groupby('STATE/UT').sum()
ff=ff.drop(columns=['Year'])
ff.head()

,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
STATE/UT,,,,
Andaman & Nicobar Islands,1584,3753,58746894,652963034
Andhra Pradesh,365664,707653,10042202784,21583696194
Arunachal Pradesh,6404,17536,676669714,1999247979
Assam,58574,260312,2050088094,7426993931
Bihar,67602,437835,1444176791,9295129888

In [25]:
g.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,11,0,0,2,0,3,0,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,1,0,0,1,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,3,0,0,0,0,2,0,2

In [26]:
g.rename(columns={"Area_Name": "STATE/UT"}, inplace=True)

In [27]:
g.head()

,STATE/UT,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,11,0,0,2,0,3,0,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,1,0,0,1,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,3,0,0,0,0,2,0,2

In [28]:
g.drop_duplicates(inplace=True)
fg = g.groupby('STATE/UT').sum()
fg=fg.drop(columns=['Year'])
fg.head()

,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
STATE/UT,,,,,,,,,,,,,,
Andaman & Nicobar Islands,22,0,0,0,0,0,22,2,0,8,0,0,0,10
Andhra Pradesh,244,1328,1854,100,252,2,3780,18,12,770,12,184,2,998
Arunachal Pradesh,10,38,0,30,2,0,80,0,0,2,0,0,0,2
Assam,50,114,44,14,208,34,464,36,18,54,32,142,4,286
Bihar,126,136,138,56,142,26,624,92,20,140,14,172,24,462

In [29]:
h.head()

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175

In [30]:
h.drop_duplicates(inplace=True)
fh = h.groupby('STATE/UT').sum()
fh=fh.drop(columns=['YEAR'])
fh.head()

,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
STATE/UT,,,,,,,,
A&N Islands,38,4469300,172,3703802,2092,82876500,2585,96883355
Andhra Pradesh,4678,1038179084,17485,1063793990,217626,8202453376,646708,16079325669
Arunachal Pradesh,607,512537231,2008,71207640,6535,658608324,12127,995503288
Assam,10184,744571667,17265,485536271,79465,1141491170,195009,4985668400
Bihar,27040,1806217984,56057,1876725011,94007,1081586592,369994,6699303790

In [31]:
i.head()

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,1041,2502,37,232,862,8849,214,629,7220,16751
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,84,54,8,40,65,249,22,84,248,443
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,442,967,77,261,271,1342,532,687,2423,5367
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,231,686,210,880,505,2582,1291,2203,3233,9701
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,370,299,15,239,420,2835,87,338,4144,4812

In [32]:
i.drop_duplicates(inplace=True)
fi = i.groupby('STATE/UT').sum()
fi=fi.drop(columns=['YEAR'])
fi.head()

,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,RIVER and SEA - Dacoity,RIVER and SEA - Robbery,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
STATE/UT,,,,,,,,,,,,,,,,,,,,,
A & N ISLANDS,0,8,592,252,0,0,0,0,0,0,...,110,144,15,64,188,668,15,74,892,1124
ANDHRA PRADESH,845,2612,70059,97567,471,1486,504,3544,3,21,...,12032,30960,544,3037,14226,141625,1987,7605,97336,287190
ARUNACHAL PRADESH,119,321,1349,2243,19,69,9,128,0,1,...,654,758,92,288,767,2045,260,843,2780,5178
ASSAM,2612,2357,18375,37042,420,991,515,1833,19,14,...,5545,11229,782,3129,10104,33996,4170,7467,34752,85475
BIHAR,6606,2823,30745,63752,1934,11913,267,4665,4,26,...,2711,14233,1492,7351,6409,55678,11099,23666,40293,153372

In [33]:
j.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,Andhra Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
1,Arunachal Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
2,Assam,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
3,Bihar,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
4,Chandigarh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0

In [34]:
j.rename(columns={"Area_Name": "STATE/UT"}, inplace=True)

In [35]:
j.head()

,STATE/UT,Year,Group_Name,Sub_Group_Name,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,Andhra Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
1,Arunachal Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
2,Assam,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
3,Bihar,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
4,Chandigarh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0

In [36]:
j.drop_duplicates(inplace=True)
fj = j.groupby('STATE/UT').sum()
fj=fj.drop(columns=['Year'])
fj.head()

,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
STATE/UT,,,
Andhra Pradesh,226.0,110.0,4.0
Arunachal Pradesh,40.0,12.0,0.0
Assam,302.0,4.0,0.0
Bihar,52.0,26.0,16.0
Chandigarh,2.0,0.0,0.0

In [37]:
k.head()

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [38]:
k=k.drop(columns=['DISTRICT'])
k.drop_duplicates(inplace=True)
fk = k.groupby('STATE/UT').sum()
fk=fk.drop(columns=['Year'])
fk.head()

,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
STATE/UT,,,,,,,
A & N ISLANDS,213,143,11,398,82,217,0
ANDHRA PRADESH,26958,29872,12430,103998,72262,238014,34
ARUNACHAL PRADESH,999,1116,4,1565,36,334,0
ASSAM,32356,45840,2552,27240,224,78776,16
BIHAR,26245,38775,27096,15149,452,51359,880

# Now look at all the datasets

In [39]:
df

,State/UT,Year,population(total),Area (km2),Literacy rate,total literate population,Attempt to murder,Murder,Rape,Kidnapping and abduction,...,Cruelty by husband or his relatives,Importation of girls from other countries,Other IPC crimes,Total IPC crimes,Total Crimes,tot_crimes_sc,total crime against women,Total crime against children,Total crimes against STs,Crime Rate
0,A& N ISLANDS,2001,356650,8249,81.30,253135.0,0,13,3,2,...,9,0,323,658,1386,0,34.0,0.0,1.0,187.757760
1,ANDHRA PRADESH,2001,75728401,275045,60.47,39934323.0,1555,2602,871,1182,...,5791,7,34344,130089,278982,2933,13669.0,270.0,512.0,173.698055
2,ARUNACHAL PRADESH,2001,1098328,83743,54.34,484785.0,53,83,33,83,...,11,0,618,2342,5243,0,180.0,0.0,72.0,217.834500
3,ASSAM,2001,26638600,78438,63.25,14015354.0,481,1356,817,1480,...,1248,0,9315,36877,81418,6,4048.0,18.0,0.0,140.759800
4,BIHAR,2001,82879911,94163,47.00,31109577.0,3419,3643,888,2159,...,1558,83,36667,88432,189612,1303,4489.0,83.0,83.0,103.458500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,TAMIL NADU,2012,73141715,130058,80.88,53274562.0,2954,1949,737,1945,...,1965,0,124176,200474,415626,1647,6381.0,1036.0,27.0,274.058370
416,TRIPURA,2012,3718947,10486,80.89,2897340.0,79,124,229,139,...,858,0,1742,6264,13461,76,1559.0,20.0,29.0,167.395800
417,UTTAR PRADESH,2012,202934265,240928,67.98,118889202.0,4811,4966,1963,8878,...,7661,0,68538,198093,444403,6202,23033.0,6033.0,44.0,96.323400
418,UTTARAKHAND,2012,10279517,53483,79.22,7100774.0,161,217,148,297,...,368,0,2118,8882,20122,33,1055.0,122.0,3.0,89.653300
419,WEST BENGAL,2012,92460379,88752,76.88,63274096.0,2854,2252,2046,5117,...,19865,12,64482,161427,353008,85,30585.0,1706.0,91.0,176.683700

In [40]:
fa.head()

,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,DACOITY,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
STATE/UT,,,,,,,,,,,,,,,,,,,,,
A & N ISLANDS,305,111,41,215,0,215,176,145,31,25,...,185,2111,11,407,84,224,0,80,8549,17397
ANDHRA PRADESH,63512,44840,3526,26958,4,26954,42478,29872,12606,3974,...,23936,1093130,12430,103998,72262,238014,34,276870,964504,4037962
ARUNACHAL PRADESH,1682,834,72,1000,0,1000,1714,1116,598,520,...,500,10314,4,1568,36,334,0,1490,14792,55304
ASSAM,30864,11324,1436,32356,10,32346,55878,45840,10038,8340,...,15836,138366,2552,27240,224,78776,16,60410,362708,1195528
BIHAR,82490,81838,7344,26248,4,26244,74440,38778,35662,22198,...,17018,378532,27096,15152,452,51360,880,88884,1077182,2692586

In [41]:
fb.head()

,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
STATE/UT,,,,,,,,,,
A & N ISLANDS,0,0,0,0,0,0,0,0,0,0
ANDHRA PRADESH,1112,2220,476,18,78,272,14496,30319,3022,34824
ARUNACHAL PRADESH,1,0,0,0,1,0,0,0,0,0
ASSAM,114,114,192,28,66,50,682,6,2,631
BIHAR,572,568,254,58,154,618,9033,46623,931,7628

In [42]:
fc.head()

,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
STATE/UT,,,,,,,,,,
A & N ISLANDS,1,2,1,0,0,0,1,0,7,46
ANDHRA PRADESH,198,904,96,0,6,38,2566,238,5050,7088
ARUNACHAL PRADESH,22,58,102,2,12,8,393,0,0,566
ASSAM,146,118,146,34,92,42,382,2,3,480
BIHAR,32,62,8,0,8,16,238,46,954,266

In [43]:
fd.head()

,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
STATE/UT,,,,,,,,,,,,
A & N ISLANDS,11.0,92.0,78.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,96.0,287
ANDHRA PRADESH,1771.0,9180.0,11026.0,46.0,214.0,1190.0,1082.0,34.0,64.0,260.0,8290.0,33157
ARUNACHAL PRADESH,0.0,205.0,238.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,457
ASSAM,134.0,930.0,424.0,4.0,20.0,0.0,730.0,0.0,14.0,10.0,1159.0,3425
BIHAR,1703.0,1310.0,15089.0,18.0,0.0,10.0,1124.0,8.0,28.0,102.0,262.0,19654

In [44]:
fe.head()

,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
STATE/UT,,,,,,,,,
A&N Islands,10,0,132,22,297,56,439,78,517
Andhra Pradesh,1771,57,13683,455,21022,1381,36476,1893,38369
Arunachal Pradesh,136,2,1271,2,1248,14,2655,18,2673
Assam,1286,116,5221,510,4664,535,11171,1161,12332
Bihar,133,7,3356,96,10457,427,13946,530,14476

In [45]:
ff.head()

,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
STATE/UT,,,,
Andaman & Nicobar Islands,1584,3753,58746894,652963034
Andhra Pradesh,365664,707653,10042202784,21583696194
Arunachal Pradesh,6404,17536,676669714,1999247979
Assam,58574,260312,2050088094,7426993931
Bihar,67602,437835,1444176791,9295129888

In [46]:
fg.head()

,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
STATE/UT,,,,,,,,,,,,,,
Andaman & Nicobar Islands,22,0,0,0,0,0,22,2,0,8,0,0,0,10
Andhra Pradesh,244,1328,1854,100,252,2,3780,18,12,770,12,184,2,998
Arunachal Pradesh,10,38,0,30,2,0,80,0,0,2,0,0,0,2
Assam,50,114,44,14,208,34,464,36,18,54,32,142,4,286
Bihar,126,136,138,56,142,26,624,92,20,140,14,172,24,462

In [47]:
fh.head()

,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
STATE/UT,,,,,,,,
A&N Islands,38,4469300,172,3703802,2092,82876500,2585,96883355
Andhra Pradesh,4678,1038179084,17485,1063793990,217626,8202453376,646708,16079325669
Arunachal Pradesh,607,512537231,2008,71207640,6535,658608324,12127,995503288
Assam,10184,744571667,17265,485536271,79465,1141491170,195009,4985668400
Bihar,27040,1806217984,56057,1876725011,94007,1081586592,369994,6699303790

In [48]:
fi.head()

,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,RIVER and SEA - Dacoity,RIVER and SEA - Robbery,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
STATE/UT,,,,,,,,,,,,,,,,,,,,,
A & N ISLANDS,0,8,592,252,0,0,0,0,0,0,...,110,144,15,64,188,668,15,74,892,1124
ANDHRA PRADESH,845,2612,70059,97567,471,1486,504,3544,3,21,...,12032,30960,544,3037,14226,141625,1987,7605,97336,287190
ARUNACHAL PRADESH,119,321,1349,2243,19,69,9,128,0,1,...,654,758,92,288,767,2045,260,843,2780,5178
ASSAM,2612,2357,18375,37042,420,991,515,1833,19,14,...,5545,11229,782,3129,10104,33996,4170,7467,34752,85475
BIHAR,6606,2823,30745,63752,1934,11913,267,4665,4,26,...,2711,14233,1492,7351,6409,55678,11099,23666,40293,153372

In [49]:
fj.head()

,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
STATE/UT,,,
Andhra Pradesh,226.0,110.0,4.0
Arunachal Pradesh,40.0,12.0,0.0
Assam,302.0,4.0,0.0
Bihar,52.0,26.0,16.0
Chandigarh,2.0,0.0,0.0

In [50]:
fk.head()

,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
STATE/UT,,,,,,,
A & N ISLANDS,213,143,11,398,82,217,0
ANDHRA PRADESH,26958,29872,12430,103998,72262,238014,34
ARUNACHAL PRADESH,999,1116,4,1565,36,334,0
ASSAM,32356,45840,2552,27240,224,78776,16
BIHAR,26245,38775,27096,15149,452,51359,880